#light .lightButton {
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
}
#light .darkButton {
  padding: 5px;
  border-radius: 5px;
}
#light #myCheckbox {
  position: absolute;
  right: -3px;
}
